<h1>Printer Mail</h1>

<p>(A demo <a href="http://printer.gofreerange.com">Printer</a> application)</p>

<p>This application can send message to printers, where they will be printed out. <a href="http://printer.gofreerange.com/">Find out more about printers</a>. It's really just an example of how you can build a simple content provider for diminutive internet printers.

<p>If you just want to poke around you can <a href="/send/freerange">send Free Range a message</a>, or <a href="https://github.com/freerange/printer-mail">take a look at the source</a>.
  
<p>If you have a printer, you can <a href="/register">register it here</a>.</p> If you don't have a printer, why not <a href="http://printer.gofreerange.com/getting-a-printer">find out how to get or make a printer</a> for yourself?

