<h1>Printer Mail</h1>

<p>(A demo <a href="http://printer.exciting.io">Printer</a> application)</p>

<p>This application can send message to printers, where they will be printed out. <a href="http://printer.exciting.io/">Find out more about printers</a>. It's really just an example of how you can build a simple content provider for diminutive internet printers.</p>

<p><b>If you just want to poke around you can <a href="/send/exciting">send Exciting a message</a></b>, or <a href="https://github.com/exciting-io/printer-mail">take a look at the source</a>.

<p>If you have a printer, and want to use this instance of Printer Mail to receive messages you can <a href="/register">register here</a>.</p>

<p>If you don't have a printer, <b>why not <a href="http://printer.exciting.io/getting-a-printer">find out how to get or make a printer</a> for yourself?</b></p>

<h2>How it works</h2>

<p>Printers are registered by storing their print URL along side a nickname, which forms the URL in this app (e.g. <a href="/send/exciting">/send/exciting</a>).</p>

<p>When a message is "sent", it is stored in the database, associated with the printer record.</p>

<p>The application then sends a request to the given print URL with the URL for that message (e.g. <a href="/messages/1">/pictures/6</a>). The <a href="https://github.com/exciting-io/printer">printer backend server</a> then takes care of rasterising the message page, and making it available to the right printer.</p>

<h2>More information</h2>

<p>To find out more, you can take a look at any (or all) of the following:</p>
<ul>
  <li>The <a href="http://exciting.io/2012/04/12/hello-printer/">introductory blog post</a>;</li>
  <li>The <a href="http://exciting.io/printer">project page</a>;</li>
  <li>The <a href="http://printer.exciting.io">backend server</a> we are running;</li>
  <li>The <a href="https://github.com/exciting-io/printer-mail">source for this app</a>, the <a href="https://github.com/exciting-io/printer-paint">drawing app</a>, the <a href="https://github.com/exciting-io/printer-weather">weather scheduled content app</a> or the <a href="https://github.com/exciting-io/printer">backend server itself</a>.</li>
</ul>
