<h1>Congratuations!</h1>
<p>Your printer '<%= @printer.url %>' is registered under the nickname '<%= @printer.nickname %>'.</p>
<p><a href="/send/<%= @printer.nickname %>">Share this URL</a> to allow people to send your printer messages.</p>