<h1>Register your printer</h1>

<form action="" method="post">
  <label for="printer[nickname]">Nickname
    <input type="text" name="printer[nickname]" />
  </label>
  </br>
  <label for="printer[url]">Printer URL
    <input type="text" name="printer[url]" />
  </label>
  <input type="submit" value="Save" />
</form>