<form action="" method="post">
  <label>To:
    <input type="text" disabled value="<%= params[:nickname] %>" />
  </label>
  <br>
  <label for="message_from">From: 
    <input type="text" name="message[from]" />
  </label>
  <br>
  <label for="message_body">Message: 
    <textarea name="message[body]"></textarea>
  </label>
  <input type="submit" value="Send" />
</form>